* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Tahoma, serif;
}

body {
  background-color: rgba(37, 69, 130, 0.87);
  color: aliceblue;
}

.container {
  margin: 20px 40px;
}

.row {
  display: block;
  clear: both !important;
}